body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; 
  background-color: rgb(221, 221, 221);
  position: relative;
}

.title{
font-size: 50px;
font-style: italic;
float: left;
padding-top: 30px;
width: 65rem;
text-align: center;
}

.pic{
  border-style:solid;
  padding: 5px;
  height: 500px;
  width: 450px;
  margin-top: 80px;
  border-color:aliceblue;
  border-top-right-radius: 50px;
  border-bottom-left-radius:50px ;
}