body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; 
  background-color: rgb(221, 221, 221);
  padding-top: 100px;
}

.title{
font-size: 44px;
font-style: italic;
float: left;
width: 60rem;
text-align: center;
display: inline-flexbox;
}

.pic{
  border-style:solid;
  margin-left: 20px;
  width: 350px;
  height: 400px;
  padding: 5px;
  border-color:aliceblue;
  border-top-right-radius: 50px;
  border-bottom-left-radius:50px ;
  margin-top: 30px;
}
.About{
  margin-right: auto;
  font-style: italic;
  padding: 20px;
  width:70%;
  float:left
}

.Aboutpic{
width:50px;
}